
.container {
    width: 1140px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    position: fixed;
    width: 1140px;
    margin-top: -20px;
    background-color: #f57;
    height: 80px;
}

.menu {
    margin-left: -30px;
}

.menu > li{
    float: left;
    width: 200px;
    list-style-type: none;
}

.header ul {
    top: 0;
    overflow: hidden;
}

.header a {
    display: block;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: #f57;
    color: #fff;
}

.header a:hover {
    background-color: #f7a;
}

details {
    clear: both;
    text-align: left;
    display: none;
}

details > li {
    clear: both;
    display: block;
    padding: 10px
}

.top{
    background-color: green;
    width: 100%;
    height: 250px;
    padding-top:50px
}

h1 {
    font-size: 50px;
    color: black;    
}

.top_p {
    font-size: 25px;
    background-color: blue;
    color: rgb(250, 250, 250);
}

/* mainクラス*/

.main-contents {
    background-color: gray;
}
h2 {
    font-size: 30px;    
}

span {
    color:red;
}

/*詳細*/

.info_top{
    background-color: rgb(55, 34, 243);
    height: 100px;
    width: 100%;
    padding-top:50px
}

.info_title {
    font-size: 50px;
}

img {
    height: 250px;
}

/*隠蔽捜査*/
.content_1 {
    width: 100%;
    background-color: rgb(167, 167, 167);
    padding-top: 80px;
    padding-bottom: 50px;
}

.link-t {
    display: block;
    text-align: initial;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 70px;
    margin-top: -70px;
    color: black;
}




/*安積班シリーズ*/
.content_2 {
    padding-top: 80px;
    background-color: rgb(0, 16, 68);
    padding-bottom: 50px;
    color: gray;
}

/*どすこい。*/
.content_3 {
    padding-top: 80px;
    background-color: rgb(255, 253, 144);
    padding-bottom: 50px;
}

/*三毛猫ホームズシリーズ*/
.content_4 {
    padding-top: 80px;
    background-color: rgb(184, 153, 88);
    margin-top: -20px;
    padding-bottom :50px;
    
}

/*十二国記*/
.content_5 {
    padding-top: 80px;
    background-color: rgb(255, 255, 255);
    margin-top: -20px;
    padding-bottom: 50px;
}

/*死都日本*/
.content_6 {
    padding-top: 80px;
    margin-top: -20px;
    padding-bottom: 50px;
    background-color: rgb(43, 43, 43);
}



/*共通*/
h4 {
    font-size:20px;
}

.info-gallery > img {
    height: 200px;
}

.info-text {
    display: block;
    text-align: initial;
    margin-left: 200px;
    margin-right: 200px;
}

video {
    max-width: 45%;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0,0,0,.85);
}
#modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#modal-image {
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
}
.hidden {
  display: none!important;
}




/* 画面サイズ対応 690*/

@media screen and (max-width: 700px) {
    .container {
        width:100vw;
    }

    .menu li {
        display: none;
    }

    .info_top {
        color: green;
        height:50px
    }

    .info_title {
        font-size:25px
    }

    .info-text {
        margin-right: auto;
        margin-left: auto;
    }

    .info-movie > video{
        max-width: 100%;
    }

    /* メニュー 690*/
    details {
        display: block;
        clear: both;
        margin-top: 10px;
    }

    .menu_690 > li {
        color: white;
        text-align: center;
        list-style-type: none;
        line-height: 30px;
    }

    .menu_690 {
        background-color: #f57;
        width: 150px       
    }

    summary {
        display: inline-block;
        margin-left: 50px;
        font-size: 25px
        
    }

    summary::-webkit-details-marker {
        display: none;
    }

    .fa {
        color: white
    }

    .menu_690 a{
       height: 30px;
       width: 150px
    }


    
}

@media screen and (max-width: 1000px) {
    .container {
        width:auto;
    }

    .info-text {
        margin-left: 100px;
        margin-right: 100px;
    }

    .header li{
        width: 130px;
    }

    .link {
        margin-bottom: 10px;
    }

    .point > li {
        
        text-align: initial;

    }

}


